<section id="banner">
    <div class="content">
        <header>
            <h2>Ваш бизнес - наша забота</h2>
            <p>Больше не нужно нанимать высокооплачиваемых специалистов
                <br /> Мы экономим ваши деньги и даем результат быстро и точно</p>
        </header>
        <span class="image">
            <img src="/assets/images/pic01.jpg" alt="" />
        </span>
    </div>
</section>

<section class="wrapper style2 special">
    <div class="container">
        <header>
            <h2>Если ещё не попробывали, то самое время</h2>
            <p>1 минута и все будет готово</p>
        </header>
        <form method="post" action="#" class="container 50% ">
            <div class="row uniform 50%">
                <div class="4u 12u$(xsmall) hidden"> </div>
                <div class="4u 12u$(xsmall)">
                    <input type="submit" value="Начать" class="fit special" />
                </div>
            </div>
        </form>
    </div>
</section>
