<mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
        <input matInput [formControl]="row.validator.controls['name']" [readonly]="!row.editing" placeholder="Name" [(ngModel)]="row.currentData.name">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
        <input matInput [formControl]="row.validator.controls['value']" type="number" placeholder="Value" [(ngModel)]="row.currentData.value">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field floatPlaceholder="{{ row.editing ? 'float' : 'never'}}">
        <input matInput [formControl]="row.validator.controls['count']" type="number" placeholder="Count" [(ngModel)]="row.currentData.count">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actionsColumn">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="accent" (click)="dataSource.createNew()">
       <mat-icon>plus_one</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
        <mat-icon>build</mat-icon>
      </button>
      <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
