/* Header */

#page-wrapper {
    padding-top: 3.5em;
}

#header {
    background: _palette(accent2-transparent);
    box-shadow: 0 0 0.25em 0 rgba(0,0,0,0.25);
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    h1 {
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        position: absolute;
        top: 0;
    }

    nav {
        position: absolute;
        right: 1em;
        top: 0;

        ul {
            margin: 0;

            li {
                display: inline-block;
                margin-left: 1em;

                a, span {
                    border: 0;
                    color: inherit;
                    display: inline-block;
                    height: inherit;
                    line-height: inherit;
                    outline: 0;

                    &.button {
                        height: 2em;
                        line-height: 2em;
                        padding: 0 1.25em;
                    }

                    &:not(.button):before {
                        margin-right: 0.5em;
                    }
                }

                &.active {
                    > a, > span {
                        color: _palette(accent1);
                    }
                }

                > ul {
                    display: none;
                }
            }
        }
    }
}

body.landing {
    #page-wrapper {
        padding-top: 0;
    }

    #header {
        background: transparent;
        box-shadow: none;
        position: absolute;
    }
}


header {
    p {
        color: _palette(fg-bold);
        position: relative;
        margin: 0 0 (_size(element-margin) * 0.75) 0;
    }

    h2 + p {
        font-size: 1.25em;
        margin-top: (_size(element-margin) * -0.5);
        line-height: 1.75em;
    }

    h3 + p {
        font-size: 1.1em;
        margin-top: (_size(element-margin) * -0.4);
        line-height: 1.75em;
    }

    h4 + p,
    h5 + p,
    h6 + p {
        font-size: 0.9em;
        margin-top: (_size(element-margin) * -0.3);
        line-height: 1.5em;
    }

    &.major {
        margin: 0 0 (_size(element-margin) * 2) 0;
        position: relative;
        text-align: center;

        &:after {
            background: _palette(accent1);
            content: '';
            display: inline-block;
            height: 0.2em;
            max-width: 20em;
            width: 75%;
        }
    }
}