// Bootstrap grid
@import "bootstrap/bootstrap-custom";

// Angular material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Material icons
@import "~material-design-icons/iconfont/material-icons.css";

@import "variables";

@import "main-page/main-page.scss";