<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <input matInput placeholder="********"
         [type]="isPassword ? 'password' : 'text'"
         [formControl]="control" required>
  <button mat-button matSuffix
          type="button" mat-icon-button
          (click)="isPassword = !isPassword">
    <mat-icon matSuffix>
      {{isPassword ? 'visibility' : 'visibility_off'}}
    </mat-icon>
  </button>
  <mat-error *ngIf="control.invalid">
    {{control.errors.message}}
  </mat-error>
</mat-form-field>
